body {
  background-color: black;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-picker  {
  margin-top: 10px;
  width: 400px;
}

svg {
  background-color: blanchedalmond;
  margin-right: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.active {
  background-color: yellow;
}

.dot {
 -webkit-animation: run 2s infinite ease-in-out forwards;
  animation: run 1s 1 ease-in-out forwards;
}

.line {
  stroke-dasharray: 1000;
  animation: line 2s linear;
}

@keyframes line {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes run {
  from {
    r: 0;
  }
  to {
    r: 5px;
  }
}